body {
    background-image: url(WhatsApp\ Image\ 2022-10-27\ at\ 2.33.36\ PM.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    background-color: rgb(214, 76, 30);
    color: white;
    border-style: none;
    border-radius: 10px;
    width: 600px;
    margin-left: 450px;
    font-size: 45px;
    font-family: monospace;
}

button {
    background-color: rgb(189, 5, 5);
    height: 50px;
    width: 150px;
    font-size: medium;
    display: inline;
    border-radius: 15px;
    border: 2px solid rgb(197, 41, 41);
}

button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

div {
    background-image: linear-gradient(to left, rgb(192, 172, 82), rgb(212, 164, 100));
    border-radius: 15px;
    border: 3px solid rgb(46, 41, 29);
    margin-top: 20px;
    width: 800px;
    height: max-content;
    padding: 20px;
}

div h2 {
    text-align: center;
    width: 300px;
    margin: auto;
    border-radius: 3px;
    font-family: sans-serif;
}